body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
    margin: 3%;
}

#picture {
    display: inline;
    margin-right: 10px;
}

#bio, #bio > a {
    display: inline;
    vertical-align: top;
    text-align: justify;
}

.list-around-image {
    padding-left: 2em;
}