<form id="contact-form" target="_self" method="post" action="https://qhzigh4g20.execute-api.us-west-2.amazonaws.com/latest/contact">
    <input required placeholder={{site.t[page.lang].name}} type="text" name="name"><br/>
    <input required placeholder="e-mail" type="email" name="email"><br/>
    <input required placeholder={{site.t[page.lang].subject}} type="text" name="subject"><br/>
    <textarea id='contact-textarea' maxlength="2500" required placeholder={{site.t[page.lang].message}} name="message" rows='20'></textarea><br/>
    <input type="submit" value={{site.t[page.lang].send_message}}>
</form>