---
layout: default
---

{{content}}

<ul>
    <li><a href="mailto:raphaelsampaio@gmail.com">E-mail
        </a>(raphaelsampaio@gmail.com)</li>
    <li><a href="https://twitter.com/rphsmp" target="_blank">Twitter</a></li>
    <li><a href="https://linkedin.com/in/raphaelsampaio"
            target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/raphaelsampaio" target="_blank">GitHub</a>
    </li>
    <li><a href="https://medium.com/@raphaelsampaio" target="_blank">Medium</a>
    </li>
</ul>


{% include jquery.html %}