---
layout: default
---

<div class="row">
    <div class="column">
        {{content}}
    </div>
</div>

<a href="https://twitter.com/messages/compose?recipient_id=1097993289410756608&text="
    class="twitter-dm-button" data-screen-name="@rphsmp">
    DM @rphsmp</a>

<div class="LI-profile-badge" data-version="v1" data-size="medium"
    data-locale="en_US" data-type="vertical" data-theme="light"
    data-vanity="raphaelsampaio"><a class="LI-simple-link"
        href='https://br.linkedin.com/in/raphaelsampaio?trk=profile-badge'>Raphael
        A. Ferraz de Sampaio</a></div>

{% include jquery.html %}

<script type="text/javascript"
    src="https://platform.linkedin.com/badges/js/profile.js" async defer>
    </script>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
</script>