<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" name="viewport"
        content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
    <meta name="description" content={{site.t[page.lang].description}} />
    <script async
        src="https://www.googletagmanager.com/gtag/js?id=UA-134650842-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-134650842-1');
    </script>
    <title>{{site.t[page.lang].title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/monokai.css">
    <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="57x57"
        href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60"
        href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72"
        href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76"
        href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114"
        href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120"
        href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144"
        href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152"
        href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180"
        href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
        href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"
        href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div id="nav">
        <div id="logo">Raphael Sampaio</div>
        <div id="nav-links">
            <a
                href={{site.t[page.lang].alt_prefix}}/index.html>{{site.t[page.lang].meta.alt_name}}</a>|
            <a
                href="{{site.t[page.lang].prefix}}/index.html">{{site.t[page.lang].who}}</a>|
            <a href="{{site.t[page.lang].prefix}}/blog.html">Blog</a>|
            <a
                href="{{site.t[page.lang].prefix}}/contact.html">{{site.t[page.lang].contact}}</a>
        </div>
    </div>
    {{content}}
</body>
<footer>
    <a href="https://linkedin.com/in/raphaelsampaio" target="_blank"><i
            class="fab fa-linkedin"></i></a>
    <a href="https://github.com/raphaelsampaio" target="_blank"><i
            class="fab fa-github"></i></a>
    <a href="https://twitter.com/rphsmp" target="_blank"><i
            class="fab fa-twitter"></i></a>
    <a href="https://medium.com/@raphaelsampaio" target="_blank"><i
            class="fab fa-medium"></i></a>
    <div id="footer-nav">
        <a
            href="{{site.t[page.lang].prefix}}/index.html">{{site.t[page.lang].who}}</a>|
        <a href="{{site.t[page.lang].prefix}}/blog.html">Blog</a>|
        <a
            href="{{site.t[page.lang].prefix}}/contact.html">{{site.t[page.lang].contact}}</a>
    </div>
</footer>

</html>